# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
precompiled.h.gch
precompiled_auto.h
main
unittest**/core.*
**/*.d
*-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fmt
*.loe
*.log
*.nav
*.out
*.prv
*.ps
*.run.xml
*.snm
*.spl
*.swp
*.synctex.*
*.synctex
*.toc
*~
.#*
.obj
.pdb
\#*#
_region_.*
auto
dont-backup
feh_*_filelist
nohup.out
output
.RData
.Rhistory
.~lock*#
~$*

*.o
